/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}


// REM MIXIN //

// $basefontsize: 62.5%; // make sure this is set!!

@function calculateRem($size) {
  $remSize: $size / 10px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// USAGE: @include font-size(14px);

//////////////////////

// SVG WITH PNG FALLBACK

//
// REQUIRES:
// pattern.svg
// pattern.png
// pattern@2x.png

$image-path: 'assets/images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
@mixin background-image($name, $size:false){
    background-image: url(#{$image-path}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}

// USAGE: @include background-image('pattern');

////////////////////////

// ANIMATIONS

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }  
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }  
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

// USAGE

// @include keyframes(slide-down) {
//   0% { opacity: 1; }
//   90% { opacity: 0; }
// }

// .element {
//   width: 100px;
//   height: 100px;
//   background: black;
//   @include animation('slide-down 5s 3');
// }



/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}


@mixin breakpoint($point) {
  @if $point == 1600 {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == 1200 {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == 940 {
    @media (max-width: 940px) { @content; }
  }
  @else if $point == 800 {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == 600 {
    @media (max-width: 600px)  { @content; }
  }

  @else if $point == 400 {
    @media (max-width: 400px)  { @content; }
  }

  @else if $point == ipad {
    @media (max-width: 600px)  { @content; }
  }

  @else if $point == smart-landscape {
    @media (min-width: 321px)  { @content; }
  }

  @else if $point == smart-portrait {
    @media (max-width: 320px)  { @content; }
  }
}

@mixin ir {
	display: 	 block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: 	 hidden;
}

@mixin ir2 {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}