/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}


/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true{
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}

/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}


@mixin breakpoint($point) {
  @if $point == 1600 {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == 1200 {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == 940 {
    @media (max-width: 940px) { @content; }
  }
  @else if $point == 800 {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == 600 {
    @media (max-width: 600px)  { @content; }
  }

  @else if $point == 400 {
    @media (max-width: 400px)  { @content; }
  }

  @else if $point == ipad {
    @media (max-width: 600px)  { @content; }
  }

  @else if $point == smart-landscape {
    @media (min-width: 321px)  { @content; }
  }

  @else if $point == smart-portrait {
    @media (max-width: 320px)  { @content; }
  }
}

@mixin ir {
	display: 	 block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: 	 hidden;
}

@mixin ir2 {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}