*, *:before, *:after
	box-sizing border-box

a
	text-decoration none
	color myRed
	
	&:hover
		color 		midGray

img
	max-width 		100%
	height 			auto
	vertical-align 	middle
	
figure
	margin 			0
	
nav ul
	padding 		0

html
	font-size 62.5%

body 
	font-size 		1.6rem
	//font-family 	'Titillium Web', sans-serif